body {
  background-color: grey;
}
.container {
  margin: 0 auto;
}
.form-container {
  width: 40%;
  height: 50%;
  float: left;
}
label {
  text-align: left !important;
}
#box {
  float: left;
  width: 50%;
  height: 50%;
  margin: 20px auto;
  border-style: dotted;;
  border-width: 2px;
  border-color: #2196f3;
  background-color: white;
}
svg {
  border-color: black;
  border-width: 2px;
  float: left;
  margin: 0 auto;
	background-color: white;
}

#save-message {
  padding: 5px;
  color: #439a46;
  opacity: 0
}

@media(max-width: 580px){
  .form-container {
    text-align: center !important;
    float: none;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .form-group {
    clear: none !important;
  }
  #box {
    width: 100%;
    float: none;
    margin: 0 auto;
  }
  svg {
    height: 100%;
    float: none;
  }
}
