.container {
  margin: 0 auto;
}
.form-container {
  width: 40%;
  height: 50%;
  float: left;
}
label {
  text-align: left !important;
}
hr {
  margin: 0;
  width: 60%
}
.navbar-brand {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  margin: auto;
}
#box {
  float: left;
  width: 50%;
  height: 50%;
  margin: 20px auto;

}
svg {
  border-color: black;
  border-width: 2px;
  float: left;
  margin: 0 auto;
	background-color: white;
  border-style: dotted;
  border-width: 2px;
  border-color: #862197;
  background-color: white;
}
#save-message {
  padding: 5px;
  color: #439a46;
  opacity: 0;
}

@media(max-width: 610px){
  body {
    font-size: 12px !important;
  }
  h4 {
    font-size: 15px !important
  }
  hr {
    margin: 0 auto;
    width: 100%;
  }
  .form-container {
    text-align: center !important;
    float: none;
    margin: 0 auto;
    width: 100%;
    height: 80%;
  }
  .form-group {
    clear: none !important;
  }
  #box {
    width: 100%;
    float: none;
    margin: 0 auto;
  }
  svg {
    height: 100%;
    float: none;
  }
}
